html, body {
    min-height: 100%;
    margin: 0;
}

body {
    text-rendering: optimizeLegibility;
    font-size: 30pt;
    font-family: 'Roboto Condensed', sans-serif;
    color:#333;
    background-color: white;
    overflow:hidden;
}

.left {
    text-align: left;
}

h1 {
    font-size: 70pt;
    font-family: 'Playfair Display', serif;
    margin:0;
}

h3 {
    font-size: 42pt;
    font-family: 'Playfair Display', serif;
}

p.name {
    padding: 2.5% 12% 6%;
    margin: 0;
}

ul {
    -webkit-padding-start: 36pt;
    -moz-padding-start: 36pt;
    text-align: left;
}

li {
    margin-bottom: 42pt;
}

pre {
    font-size: 24pt;
    text-align: left;
    line-height: 1.4;

    background-color: #111;
    padding: 0.5em;
    overflow: auto;
    max-height: 768px;
}

a {
    color: #fff;
}

#slide {
    overflow: hidden;
    min-height: 100%;
}

#objects {
    min-height: 100%;
}

table {
  border-collapse: collapse;
}

table thead tr th {
    text-align: left;
    border-bottom: 1px solid white;
}

table tbody tr td {
    padding: 4px 10px 8px 16px;
}

table tbody tr td:first-child {
    text-align: right;
    border-right: 1px solid white;
}

.dark-blue {
    background-color: #3524b2;
    box-sizing: border-box;
    min-height: 100%;
    color:white;
}

.pink {
    background: #e92f9f;
    background: linear-gradient(#c62988 0,#e92f9f 40%,#e92f9f 100%);
    width:100%;
    box-sizing: border-box;
    padding: 6% 12% 6%;
    color:white;
}

.rotator {
    background: #e92f9f;
    transform: translate(-100px, -110px) rotate(-4deg);
    width: 200%;
}

.normal-slide {
    padding: 6% 12% 6%;
}

.normal-slide h1 {
    border-bottom: 2px solid #e92f9f;
}

.normal-slide p {
    margin-top: 1em;
}

.normal-slide img {
    width:80%;
    margin-top: 1em;
    margin-right: 10%;
    margin-left: 10%;
}


.normal-slide p.quote {
    width:80%;
    margin-top: 1em;
    margin-right: 10%;
    margin-left: 10%;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 40pt;
}
/* Custom */
/*
#objects p {
    max-width: 980px;
    text-align: center;
}*/
